body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #f2f4f7;
}
a {
  text-decoration: none;
  color: #707070;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.1333rem;
  line-height: 2.1333rem;
  border-bottom: 1px solid #EAEAEA;
  background-color: white;
  color: #1C1C1C;
  text-align: center;
  font-size: 0.9333rem;
}
.nav_warp {
  background-color: #fff;
  margin-bottom: 0.2667rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5867rem 0 0.8rem;
}
.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}
.nav a:nth-child(-n+3) {
  padding-bottom: 0.8rem;
}
.nav a img {
  width: 1.8667rem;
  height: 1.8667rem;
}
.nav a span {
  margin-top: 0.2667rem;
  font-size: 0.666667rem;
}
.go {
  margin: 0 0.2667rem;
}
.content {
  padding: 1.066667rem 0.64rem;
  background-color: #fff;
  margin-top: 0.266667rem;
}
.con-hd {
  display: flex;
  justify-content: space-between;
  height: 1.0133rem;
  line-height: 1.0133rem;
  padding: 0 0.2667rem;
}
.con-hd h4 {
  display: flex;
  margin: 0;
}
.con-hd h4 .icon {
  width: 1.0133rem;
  height: 1.0133rem;
}
.con-hd h4 span {
  margin-left: 0.2667rem;
  font-size: 0.7467rem;
}
.con-hd .more {
  font-size: 0.5867rem;
  color: #999;
}
.get_job_focus {
  position: relative;
  padding-top: 0.5333rem;
  padding-bottom: 1.0667rem;
}
.get_job_focus .swiper-container {
  width: 100%;
  height: 100%;
  width: 14.4rem;
}
.get_job_focus .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  flex-direction: column;
  opacity: 0.5;
}
.get_job_focus .swiper-slide a {
  width: 9.013333rem;
  height: 10.026667rem;
}
.get_job_focus .swiper-slide p {
  width: 9.013333rem;
  font-size: 0.666667rem;
  margin-top: 0.64rem;
  color: #333;
}
.get_job_focus .swiper-slide-active,
.get_job_focus .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 1;
  opacity: 1;
}
.study_focus {
  padding-top: 1.0667rem;
  padding-bottom: 3.2rem;
}
.study_focus .study_container {
  padding: 0.266667rem;
}
.study_focus .swiper-container {
  width: 100%;
  height: 100%;
}
.study_focus .swiper-slide {
  font-size: 18px;
  background: #fff;
  width: 7.733333rem;
  height: 9.066667rem;
  background-color: #fff;
  border-radius: 0.266667rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.study_focus .swiper-slide h5 {
  font-size: 0.693333rem;
  margin: 0.533333rem 0;
  font-weight: 400;
  padding: 0 0.266667rem;
}
.study_focus .swiper-slide p {
  font-size: 0.693333rem;
  color: #ff4400;
  padding: 0 0.266667rem;
}
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2.9333rem;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  justify-content: space-around;
  border-top: 1px solid #EAEAEA;
  background-color: #fff;
  z-index: 99;
}
.footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5333rem;
}
.footer a img {
  width: 1.0667rem;
  height: 1.093333rem;
  margin-bottom: 0.16rem;
}
.footer a p {
  font-size: 0.5867rem;
  color: #666666;
}
